@model IEnumerable<BookModel>

<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-4">
            <partial name="_BookThumbnail" model="book" />
        </div>

    }
    <!--<div class="col-md-4">
        <partial name="_BookThumbnail" model="new BookModel()" />-->
        @*@Html.Partial("_BookThumbnail", new BookModel())*@
    <!--</div>-->
    
</div>
