@model List<BookModel>
@{
}

<div class="container">
    <h3 class="display-4">All Books</h3>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <partial name="_BookThumbnail" model="book" />
            </div>
            <!--<div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="#"><img class="img-thumbnail" src="@@(book.CoverImageUrl != null ? book.CoverImageUrl : "/books/cover/No-Photo-Available.jpg")" alt=""></a>-->
                    @*<img src="~/books/cover/No-Photo-Available.jpg" />*@
                <!--</div>
                <div class="card-body">
                    <h3 class="card-title">@@book.Title</h3>
                    <p class="card-text">
                        @@book.Description
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Book" asp-action="Detail" asp-route-id="@@book.Id" class="btn btn-sm btn-outline-secondary">View details</a>
                        </div>
                        <small class="text-muted">@@book.Author</small>
                    </div>
                </div>
            </div>-->
        }

    </div>
</div>
