
 @*/.control-sidebar*@ 
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - BookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <custom-email my-email="user@test.com"></custom-email>
    </div>
</footer>